@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto";
  /* font-size: 10px; */
}

html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #1f1f1f;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
